<div class="jumbotron text-center">
    <% if params[:plan] == '2' %>
      <h1>Upgrade to Pro</h1>
        <p>Upgrade to the Pro Membership for $10 per month and get access to </br>Community members' professional contact information.</p>
    <% else %>
      <h1>Basic Membership</h1>
            <h4 class="text-center">Sign up for free and see developers, entrepreneurs, and developers in your area.</h4>
    <% end %>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      
      <h3 class="text-center">Take your networking to the next level</h3></br>
      
      <% if params[:plan] == '2' %>
        <%= render "pro_form" %>
      <% else %>
        <%= render "basic_form" %>
      <% end %>
      
      <%= render "devise/shared/links" %>
    </div>
  </div>
  
  <div class="col-md-3">
    <div class="well">
      <h4>Test Credit Card Information</h4>
        <p><strong>Visa Number</strong> 4242 4242 4242 4242</br><strong>CVC Number</strong> 001</br><strong>Expiration Date</strong> January, 2020</p>
    </div>
  </div>
</div>
<!-- Footer -->
  <footer class="footer">
    <div class="container">
      <p class="text-muted">Powered by Stripe. </br>Feel free to create your own profile. </br> Or log in with Email: test3@example.com; and Password: 33333333 to demo the Pro Membership, including The Dev Match Community and your personal profile page.</p>
    </div>
</footer>