<div class="jumbotron text-center">
    <h1 class="text-center">About Our Community</h1>
</div>

<div class="row">
    <div class='col-md-6 col-md-offset-3'>
        <div class="well">
            <h4 class="text-center">We are a community of developers, entrepreneurs, </br>and investors who are interested in </br> meeting one another and sharing ideas.</h4>
        </div>
    </div>
</div>


<!-- Footer -->
  <footer class="footer">
    <div class="container">
      <p class="text-muted">Thank you for visiting my website. </br>Please explore all functionality. </br>Additional site information and sample logins are provided in the page footers for your convenience. Use the "Contact Us" page if you have any inquires or concers.</p>
    </div>
  </footer>